.mainContacto {
    padding-top: 90px;

    #titulodelaPag {
        padding:25px;
        text-align:center;
    }

    #infoContacto {
        background-color: rgb(238, 255, 220);
        padding:25px;
        display: flex;
        flex-direction: row;
    }
}