footer {
    background-color:rgb(157, 184, 129);
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .logo {
        display:flex;
        
        img {
            height: 80px;
            margin-right: 20px;
            padding: 20px;
        }
    }
    .info {
        margin-left: 78%;
        margin-bottom: 10px;
        text-align: end;
        color: white;
        
        h5 {
            font-size: 14px;
        }
    }
}